[user]
    name = jsleetw
    email = ail529@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
[core]
    editor = vim -f
[merge]
    tool = vimdiff
[branch]
    autosetuprebase = always

[push]
	default = simple
