[user]
    name = jsleetw
    email = ail529@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    log = auto
[alias]
    st = status
[core]
    editor = vim
[merge]
    tool = vimdiff

